name: Test with Docker Compose

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  docker-compose-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Compose environment variables
        run: |
          echo "BACKEND_IMAGE=${{ secrets.BACKEND_IMAGE }}" >> .env
          echo "FRONTEND_IMAGE=${{ secrets.FRONTEND_IMAGE }}" >> .env

      - name: Run Docker Compose
        run: docker-compose --env-file .env -f docker-compose.test.yaml up -d
